// ========================================================================
// SHARED/GRID/GRID-ROW
// ========================================================================

@import '~sassHelpers';

.gridRow {
  display: flex;
  flex-wrap: wrap;
  margin-left: -(spacer(m));
}
