// ========================================================================
// SETTINGS/SPACERS
// ========================================================================

$spacers: (
  t: 10px,
  s: 20px,
  m: 30px,
  l: 50px,
  xl: 70px,
);
