// ========================================================================
// SHARED/INPUT-RADIO
// ========================================================================

@import '~sassHelpers';

.listItem {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;

  svg {
    position: relative;
    top: 5px;
    width: 10px;
    min-width: 10px;
    height: 10px;
    margin-right: 10px;
  }
}
