// ========================================================================
// UTILITIES/TEXT
// ========================================================================

.u-link {
  font-weight: 700;
  text-decoration: underline;

  &:hover {
    color: $col-forrest;
  }
}

.u-bold {
  font-weight: 700;
}
