// ========================================================================
// SETTINGS/COLOURS
// ========================================================================

// PAGE
$col-bg: #fff;
$col-text: #444;

// LINKS
$col-links: #055edb;
$col-links-hover: #052aa1;
$col-links-active: #a60bff;
$col-links-visited: #f03b3b;

// MISC
$col-borders: #ccc;

// MAP
$colors: (
  a: #ff5656,
  b: #4a9fff,
);
